@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: "Sansation", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    background: #FAF6EF;
    color: #2D2D2D;
}

h2,
h3 {
    text-align: center;
}
/*HEADER*/
header {
    background: #3C4A63;
    color: #FAF6EF;
    padding: 1rem;
    text-align: left;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items:center;
    gap: 5rem;
}

nav a {
    color:#FAF6EF;
    text-decoration: none;
}

nav a:hover {
     text-decoration:underline;
}

/*INTRO*/
.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*ABOUT*/
.about {
    background: #CDE7FF;
    border-radius: 8px;
    padding:1rem;
    margin: 1rem auto;
    max-width: 40rem;
}

/*HOW TO USE*/
.how-to {
    background: #CDE7FF;
    border-radius: 8px;
    padding:1rem;
    margin: 1rem auto;
    max-width: 40rem;
}

.how-to ul {
    list-style:disc;
    padding: 1rem;
    margin: 0;
}

/*BOOKIE AI LIBRARIAN*/
.recommendations {
    background: #CDE7FF;
    border-radius: 8px;
    padding:1rem;
    margin: 1rem auto;
    max-width: 40rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ai-recommendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.recommendations input {
    font-size: 16px;
    width:20rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border:2px solid #3C4A63;
}

.get-prompt {
  background: #3C4A63;
  color:#FAF6EF;
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  width: 15rem;
  justify-content: center;
}

/*BOOKSHELF*/
.bookshelf {
    text-align: center;
}

.books {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.book-card {
  max-width: 40rem;
  background-color:#CDE7FF;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  border-radius: 8px;
}

.book-card img {
  border-radius: 0.5rem;
  width: 130px;
  height: 200px;
  margin: 1rem auto;
}

.book-detail {
  display: flex;
  gap: 0.5rem;
}

.btn-edit {
  background: #3C4A63;
  color:#FAF6EF;
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  width: 5rem;
  align-self: center;
}
